name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Create dummy config
      shell: bash
      run: |
        mkdir -p src/main/resources
        echo "usage.threshold.percent=50" > src/main/resources/app.properties

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2

    - name: Build with Gradle
      run: ./gradlew build

    # ИСПРАВЛЕНИЕ ЗДЕСЬ: v3 заменено на v4
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: disk-usage-app-${{ matrix.os }}
        path: build/libs/*.jar